//Here you can customize bootstrap
$primary: #663399;
@import "~bootstrap/scss/bootstrap";

/*.dropdown-item{
    font-size: 30px;
}*/

body {
    font-size: 22px;
    //font-family: "Playfair Display";
    font-family: "Open Sans";
}
