//Here you can customize bootstrap
$primary: #663399;
@import "~bootstrap/scss/bootstrap";

/*.dropdown-item{
    font-size: 30px;
}*/

html {
    font-size: 22px;
}

footer p{
    font-size: 16px;
}
footer a{
    font-size: 16px;
}
