//Here you can customize bootstrap
$primary: #663399;
@import "~bootstrap/scss/bootstrap";

/*.dropdown-item{
    font-size: 30px;
}*/

body {
    font-size: 22px;
    //font-family: "Playfair Display";
    font-family: "Open Sans";
}

h3 {
    font-family: "Open Sans"
}

a {
    text-decoration: none;
}

#slideLabel {
    background-color: #fef1e8;
    font-family: "Playfair Display";
    font-size:50px;
}
