/*.carousel-inner{
    width:100%;
}

.carousel-inner > img {
    width: 100% !important;
}
*/

#carouselWrap {
    height:550px;
    width:732px;
}

#car1 {
    data-bs-interval:"500";
}

/*#car2 {
    height:460px;
}*/
