//Here you can customize bootstrap
$primary: #663399;
@import "~bootstrap/scss/bootstrap";

// PAGES 
// general
body {
    font-size: 22px;
    font-family: "Playfair Display";
    //font-family: "Open Sans";
}

h3,h4,h5 {
    font-family: "Open Sans"
}

a {
    text-decoration: none;
    font-family: "Open Sans";
}

// bio 
#bio {
    font-family: 'Playfair Display';
}

.nameTitle{
    font-size:16px;
    font-family:'Open Sans'
}

.nameTitle > p {
    margin:0 !important;
}

.biography{
    font-size:18px;
}

//volunteer
.volunteer > p{
    color: $text-muted;
}
.volunteer > ul{
    padding-left:40px;
}

.volunteer > ul, .volunteer > div > div > ul{
    list-style: none;
    color: $text-muted;
}

//all this just to allow muted text w/ regular bullets
.volunteer > ul > li::before, .volunteer > div > div > ul > li::before{
    content: "\2022";
    color: black !important;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

// COMPONENTS
//slideshow
#slideLabel {
    background-color: #fef1e8;
    font-family: "Playfair Display";
    font-size:50px;
}
// navbar
.navbar {
    //background-color: #f9cb0e !important;
}
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{   }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }

//footer
footer p{
    font-size: 16px;
    font-family: "Playfair Display"
}
footer a{
    font-size: 16px;
    font-family: "Playfair Display";
    color: black;
    text-decoration: none;
}
